src/test/resources/xsd/complex/AddGrpC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 7.1.0, Date: 15-Feb-2017. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/AddGrpC"
            targetNamespace="http://www.obj-sys.com/AddGrpC"
 xmlns:DSRC="http://www.obj-sys.com/DSRC"
 xmlns:ITS-Container="http://www.obj-sys.com/ITS-Container"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/DSRC"
    schemaLocation="DSRC.xsd"/>
   <xsd:import namespace="http://www.obj-sys.com/ITS-Container"
    schemaLocation="ITS-Container.xsd"/>
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="ConnectionManeuverAssist-addGrpC" type="ConnectionManeuverAssist-addGrpCType"/>
   <xsd:complexType name="ConnectionManeuverAssist-addGrpCType">
      <xsd:sequence>
         <xsd:element name="vehicleToLanePositions" minOccurs="0" type="VehicleToLanePositionList"/>
         <xsd:element name="rsuGNSSOffset" minOccurs="0" type="DSRC:NodeOffsetPointXY"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="ConnectionTrajectory-addGrpC" type="ConnectionTrajectory-addGrpCType"/>
   <xsd:complexType name="ConnectionTrajectory-addGrpCType">
      <xsd:sequence>
         <xsd:element name="nodes" type="DSRC:NodeSetXY"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="Control-addGrpC" type="Control-addGrpCType"/>
   <xsd:complexType name="Control-addGrpCType">
      <xsd:sequence>
         <xsd:element name="ptvRequest" type="PtvRequestType"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="IntersectionState-addGrpC" type="IntersectionState-addGrpCType"/>
   <xsd:complexType name="IntersectionState-addGrpCType">
      <xsd:sequence>
         <xsd:element name="activePrioritizations" minOccurs="0" type="PrioritizationResponseList"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="MapData-addGrpC" type="MapData-addGrpCType"/>
   <xsd:complexType name="MapData-addGrpCType">
      <xsd:sequence>
         <xsd:element name="signalHeadLocations" minOccurs="0" type="SignalHeadLocationList"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="Position3D-addGrpC" type="Position3D-addGrpCType"/>
   <xsd:complexType name="Position3D-addGrpCType">
      <xsd:sequence>
         <xsd:element name="altitude" type="ITS-Container:Altitude"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="RestrictionUserType-addGrpC" type="RestrictionUserType-addGrpCType"/>
   <xsd:complexType name="RestrictionUserType-addGrpCType">
      <xsd:sequence>
         <xsd:element name="emission" minOccurs="0" type="EmissionType"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="SignalStatusPackage-addGrpC" type="SignalStatusPackage-addGrpCType"/>
   <xsd:complexType name="SignalStatusPackage-addGrpCType">
      <xsd:sequence>
         <xsd:element name="synchToSchedule" minOccurs="0" type="DSRC:DeltaTime"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EmissionType">
      <xsd:choice>
         <xsd:element name="euro1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="euro2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="euro3">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="euro4">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="euro5">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="euro6">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="PtvRequestType">
      <xsd:choice>
         <xsd:element name="preRequest">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mainRequest">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doorCloseRequest">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="cancelRequest">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="emergencyRequest">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="TimeReference">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="VehicleToLanePosition">
      <xsd:sequence>
         <xsd:element name="stationID" type="ITS-Container:StationID"/>
         <xsd:element name="laneID" type="DSRC:LaneID"/>
         <xsd:element name="timeReference" minOccurs="0" type="TimeReference"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="VehicleToLanePositionList">
      <xsd:sequence minOccurs="1" maxOccurs="5">
         <xsd:element name="VehicleToLanePosition" type="VehicleToLanePosition"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PrioritizationResponse">
      <xsd:sequence>
         <xsd:element name="stationed" type="ITS-Container:StationID"/>
         <xsd:element name="priorState" type="DSRC:PrioritizationResponseStatus"/>
         <xsd:element name="signalGroup" type="DSRC:SignalGroupID"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PrioritizationResponseList">
      <xsd:sequence minOccurs="1" maxOccurs="10">
         <xsd:element name="PrioritizationResponse" type="PrioritizationResponse"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalHeadLocation">
      <xsd:sequence>
         <xsd:element name="nodeXY" type="DSRC:NodeOffsetPointXY"/>
         <xsd:element name="nodeZ" type="ITS-Container:DeltaAltitude"/>
         <xsd:element name="signalGroupID" type="DSRC:SignalGroupID"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalHeadLocationList">
      <xsd:sequence minOccurs="1" maxOccurs="64">
         <xsd:element name="SignalHeadLocation" type="SignalHeadLocation"/>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>