src/test/resources/xsd/complex/DSRC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 7.1.0, Date: 15-Feb-2017. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/DSRC"
            targetNamespace="http://www.obj-sys.com/DSRC"
 xmlns:ITS-Container="http://www.obj-sys.com/ITS-Container"
 xmlns:REGION="http://www.obj-sys.com/REGION"
 xmlns:ElectronicRegistrationIdentificationVehicleDataModule="http://www.obj-sys.com/ElectronicRegistrationIdentificationVehicleDataModule"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/ITS-Container"
    schemaLocation="ITS-Container.xsd"/>
   <xsd:import namespace="http://www.obj-sys.com/REGION"
    schemaLocation="REGION.xsd"/>
   <xsd:import namespace="http://www.obj-sys.com/ElectronicRegistrationIdentificationVehicleDataModule"
    schemaLocation="ElectronicRegistrationIdentificationVehicleDataModule.xsd"/>
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="MessageFrame" type="MessageFrameType"/>
   <xsd:complexType name="MessageFrameType">
      <xsd:sequence>
         <xsd:element name="messageId" type="DSRCmsgID"/>
         <xsd:element name="value" type="asn1:OpenType"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="MinuteOfTheYear">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="527040"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="DescriptiveName">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="63"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="RoadRegulatorID">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:simpleType name="IntersectionID">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="IntersectionReferenceID">
      <xsd:sequence>
         <xsd:element name="region" minOccurs="0" type="RoadRegulatorID"/>
         <xsd:element name="id" type="IntersectionID"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="MsgCount">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="IntersectionStatusObject" mixed="true">
      <xsd:sequence>
         <xsd:element name="manualControlIsEnabled" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stopTimeIsActivated" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="failureFlash" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="preemptIsActive" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="signalPriorityIsActive" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fixedTimeOperation" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trafficDependentOperation" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="standbyOperation" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="failureMode" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="off" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="recentMAPmessageUpdate" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="recentChangeInMAPassignedLanesIDsUsed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="noValidMAPisAvailableAtThisTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="noValidSPATisAvailableAtThisTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="DSecond">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:simpleType name="LaneID">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="EnabledLaneList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="LaneID" type="LaneID"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="SignalGroupID">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="MovementPhaseState">
      <xsd:choice>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dark">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stop-Then-Proceed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stop-And-Remain">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pre-Movement">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="permissive-Movement-Allowed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="protected-Movement-Allowed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="permissive-clearance">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="protected-clearance">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="caution-Conflicting-Traffic">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="TimeMark">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="36001"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TimeIntervalConfidence">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="15"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="TimeChangeDetails">
      <xsd:sequence>
         <xsd:element name="startTime" minOccurs="0" type="TimeMark"/>
         <xsd:element name="minEndTime" type="TimeMark"/>
         <xsd:element name="maxEndTime" minOccurs="0" type="TimeMark"/>
         <xsd:element name="likelyTime" minOccurs="0" type="TimeMark"/>
         <xsd:element name="confidence" minOccurs="0" type="TimeIntervalConfidence"/>
         <xsd:element name="nextTime" minOccurs="0" type="TimeMark"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdvisorySpeedType">
      <xsd:choice>
         <xsd:element name="none">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="greenwave">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="ecoDrive">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transit">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="SpeedAdvice">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="500"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="ZoneLength">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="10000"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="RestrictionClassID">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:simpleType name="RegionId">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="RegionalExtension">
      <xsd:sequence>
         <xsd:element name="regionId" type="RegionId"/>
         <xsd:element name="regExtValue" type="asn1:OpenType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdvisorySpeed">
      <xsd:sequence>
         <xsd:element name="type" type="AdvisorySpeedType"/>
         <xsd:element name="speed" minOccurs="0" type="SpeedAdvice"/>
         <xsd:element name="confidence" minOccurs="0" type="ITS-Container:SpeedConfidence"/>
         <xsd:element name="distance" minOccurs="0" type="ZoneLength"/>
         <xsd:element name="class" minOccurs="0" type="RestrictionClassID"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AdvisorySpeedList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="AdvisorySpeed" type="AdvisorySpeed"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MovementEvent">
      <xsd:sequence>
         <xsd:element name="eventState" type="MovementPhaseState"/>
         <xsd:element name="timing" minOccurs="0" type="TimeChangeDetails"/>
         <xsd:element name="speeds" minOccurs="0" type="AdvisorySpeedList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MovementEventList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="MovementEvent" type="MovementEvent"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="LaneConnectionID">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="WaitOnStopline">
      <xsd:group ref="asn1:BooleanGroup"/>
   </xsd:complexType>

   <xsd:complexType name="PedestrianBicycleDetect">
      <xsd:group ref="asn1:BooleanGroup"/>
   </xsd:complexType>

   <xsd:complexType name="ConnectionManeuverAssist">
      <xsd:sequence>
         <xsd:element name="connectionID" type="LaneConnectionID"/>
         <xsd:element name="queueLength" minOccurs="0" type="ZoneLength"/>
         <xsd:element name="availableStorageLength" minOccurs="0" type="ZoneLength"/>
         <xsd:element name="waitOnStop" minOccurs="0" type="WaitOnStopline"/>
         <xsd:element name="pedBicycleDetect" minOccurs="0" type="PedestrianBicycleDetect"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ManeuverAssistList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="ConnectionManeuverAssist" type="ConnectionManeuverAssist"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MovementState">
      <xsd:sequence>
         <xsd:element name="movementName" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="signalGroup" type="SignalGroupID"/>
         <xsd:element name="state-time-speed" type="MovementEventList"/>
         <xsd:element name="maneuverAssistList" minOccurs="0" type="ManeuverAssistList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MovementList">
      <xsd:sequence minOccurs="1" maxOccurs="255">
         <xsd:element name="MovementState" type="MovementState"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="IntersectionState">
      <xsd:sequence>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="id" type="IntersectionReferenceID"/>
         <xsd:element name="revision" type="MsgCount"/>
         <xsd:element name="status" type="IntersectionStatusObject"/>
         <xsd:element name="moy" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="timeStamp" minOccurs="0" type="DSecond"/>
         <xsd:element name="enabledLanes" minOccurs="0" type="EnabledLaneList"/>
         <xsd:element name="states" type="MovementList"/>
         <xsd:element name="maneuverAssistList" minOccurs="0" type="ManeuverAssistList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="IntersectionStateList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="IntersectionState" type="IntersectionState"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SPAT">
      <xsd:sequence>
         <xsd:element name="timeStamp" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="intersections" type="IntersectionStateList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LayerType">
      <xsd:choice>
         <xsd:element name="none">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mixedContent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="generalMapData">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="intersectionData">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curveData">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roadwaySectionData">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parkingAreaData">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sharedLaneData">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="LayerID">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="100"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Elevation">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="Position3D">
      <xsd:sequence>
         <xsd:element name="lat" type="ITS-Container:Latitude"/>
         <xsd:element name="long" type="ITS-Container:Longitude"/>
         <xsd:element name="elevation" minOccurs="0" type="Elevation"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="LaneWidth">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="SpeedLimitType">
      <xsd:choice>
         <xsd:element name="unknown">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maxSpeedInSchoolZone">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maxSpeedInSchoolZoneWhenChildrenArePresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maxSpeedInConstructionZone">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehicleMinSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehicleMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehicleNightMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="truckMinSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="truckMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="truckNightMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehiclesWithTrailersMinSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehiclesWithTrailersMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehiclesWithTrailersNightMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="Velocity">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="8191"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="RegulatorySpeedLimit">
      <xsd:sequence>
         <xsd:element name="type" type="SpeedLimitType"/>
         <xsd:element name="speed" type="Velocity"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SpeedLimitList">
      <xsd:sequence minOccurs="1" maxOccurs="9">
         <xsd:element name="RegulatorySpeedLimit" type="RegulatorySpeedLimit"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="ApproachID">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="15"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="LaneDirection" mixed="true">
      <xsd:sequence>
         <xsd:element name="ingressPath" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="egressPath" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneSharing" mixed="true">
      <xsd:sequence>
         <xsd:element name="overlappingLaneDescriptionProvided" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="multipleLanesTreatedAsOneLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="otherNonMotorizedTrafficTypes" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="individualMotorizedVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="busVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taxiVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pedestriansTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="cyclistVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trackedVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pedestrianTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneAttributes-Vehicle" mixed="true">
      <xsd:sequence>
         <xsd:element name="isVehicleRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isVehicleFlyOverLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hovLaneUseOnly" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="restrictedToBusUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="restrictedToTaxiUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="restrictedFromPublicUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hasIRbeaconCoverage" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="permissionOnRequest" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneAttributes-Crosswalk" mixed="true">
      <xsd:sequence>
         <xsd:element name="crosswalkRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="bicyleUseAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isXwalkFlyOverLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fixedCycleTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="biDirectionalCycleTimes" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hasPushToWalkButton" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="audioSupport" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rfSignalRequestPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unsignalizedSegmentsPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneAttributes-Bike" mixed="true">
      <xsd:sequence>
         <xsd:element name="bikeRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pedestrianUseAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isBikeFlyOverLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fixedCycleTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="biDirectionalCycleTimes" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isolatedByBarrier" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unsignalizedSegmentsPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneAttributes-Sidewalk" mixed="true">
      <xsd:sequence>
         <xsd:element name="sidewalk-RevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="bicyleUseAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isSidewalkFlyOverLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="walkBikes" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneAttributes-Barrier" mixed="true">
      <xsd:sequence>
         <xsd:element name="median-RevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="median" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="whiteLineHashing" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripedLines" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doubleStripedLines" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trafficCones" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="constructionBarrier" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trafficChannels" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lowCurbs" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="highCurbs" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneAttributes-Striping" mixed="true">
      <xsd:sequence>
         <xsd:element name="stripeToConnectingLanesRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeDrawOnLeft" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeDrawOnRight" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeToConnectingLanesLeft" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeToConnectingLanesRight" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeToConnectingLanesAhead" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneAttributes-TrackedVehicle" mixed="true">
      <xsd:sequence>
         <xsd:element name="spec-RevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="spec-commuterRailRoadTrack" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="spec-lightRailRoadTrack" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="spec-heavyRailRoadTrack" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="spec-otherRailType" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneAttributes-Parking" mixed="true">
      <xsd:sequence>
         <xsd:element name="parkingRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parallelParkingInUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="headInParkingInUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doNotParkZone" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parkingForBusUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parkingForTaxiUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="noPublicParkingUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneTypeAttributes">
      <xsd:choice>
         <xsd:element name="vehicle" type="LaneAttributes-Vehicle"/>
         <xsd:element name="crosswalk" type="LaneAttributes-Crosswalk"/>
         <xsd:element name="bikeLane" type="LaneAttributes-Bike"/>
         <xsd:element name="sidewalk" type="LaneAttributes-Sidewalk"/>
         <xsd:element name="median" type="LaneAttributes-Barrier"/>
         <xsd:element name="striping" type="LaneAttributes-Striping"/>
         <xsd:element name="trackedVehicle" type="LaneAttributes-TrackedVehicle"/>
         <xsd:element name="parking" type="LaneAttributes-Parking"/>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="LaneAttributes">
      <xsd:sequence>
         <xsd:element name="directionalUse" type="LaneDirection"/>
         <xsd:element name="sharedWith" type="LaneSharing"/>
         <xsd:element name="laneType" type="LaneTypeAttributes"/>
         <xsd:element name="regional" minOccurs="0" type="RegionalExtension"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AllowedManeuvers" mixed="true">
      <xsd:sequence>
         <xsd:element name="maneuverStraightAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maneuverLeftAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maneuverRightAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maneuverUTurnAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maneuverLeftTurnOnRedAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maneuverRightTurnOnRedAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maneuverLaneChangeAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maneuverNoStoppingAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="yieldAllwaysRequired" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="goWithHalt" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="caution" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reserved1" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="Offset-B10">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-512"/>
         <xsd:maxInclusive value="511"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="Node-XY-20b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B10"/>
         <xsd:element name="y" type="Offset-B10"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="Offset-B11">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-1024"/>
         <xsd:maxInclusive value="1023"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="Node-XY-22b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B11"/>
         <xsd:element name="y" type="Offset-B11"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="Offset-B12">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-2048"/>
         <xsd:maxInclusive value="2047"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="Node-XY-24b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B12"/>
         <xsd:element name="y" type="Offset-B12"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="Offset-B13">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-4096"/>
         <xsd:maxInclusive value="4095"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="Node-XY-26b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B13"/>
         <xsd:element name="y" type="Offset-B13"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="Offset-B14">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-8192"/>
         <xsd:maxInclusive value="8191"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="Node-XY-28b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B14"/>
         <xsd:element name="y" type="Offset-B14"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="Offset-B16">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="Node-XY-32b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B16"/>
         <xsd:element name="y" type="Offset-B16"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Node-LLmD-64b">
      <xsd:sequence>
         <xsd:element name="lon" type="ITS-Container:Longitude"/>
         <xsd:element name="lat" type="ITS-Container:Latitude"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NodeOffsetPointXY">
      <xsd:choice>
         <xsd:element name="node-XY1" type="Node-XY-20b"/>
         <xsd:element name="node-XY2" type="Node-XY-22b"/>
         <xsd:element name="node-XY3" type="Node-XY-24b"/>
         <xsd:element name="node-XY4" type="Node-XY-26b"/>
         <xsd:element name="node-XY5" type="Node-XY-28b"/>
         <xsd:element name="node-XY6" type="Node-XY-32b"/>
         <xsd:element name="node-LatLon" type="Node-LLmD-64b"/>
         <xsd:element name="regional" type="RegionalExtension"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="NodeAttributeXY">
      <xsd:choice>
         <xsd:element name="reserved">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stopLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roundedCapStyleA">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roundedCapStyleB">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergePoint">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="divergePoint">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="downstreamStopLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="downstreamStartNode">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="closedToTraffic">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safeIsland">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbPresentAtStepOff">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hydrantPresent">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="NodeAttributeXYList">
      <xsd:choice minOccurs="1" maxOccurs="8">
         <xsd:element name="reserved">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stopLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roundedCapStyleA">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roundedCapStyleB">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergePoint">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="divergePoint">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="downstreamStopLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="downstreamStartNode">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="closedToTraffic">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safeIsland">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbPresentAtStepOff">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hydrantPresent">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="SegmentAttributeXY">
      <xsd:choice>
         <xsd:element name="reserved">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doNotBlock">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="whiteLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergingLaneLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergingLaneRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="loadingzoneOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="loadingzoneOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="turnOutPointOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="turnOutPointOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentParkingOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentParkingOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentBikeLaneOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentBikeLaneOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sharedBikeLane">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="bikeBoxInFront">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopInLane">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sharedWithTrackedVehicle">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safeIsland">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lowCurbsPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rumbleStripPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="audibleSignalingPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adaptiveTimingPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rfSignalRequestPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="partialCurbIntrusion">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToCenterLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parallelParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="headInParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="freeParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="timeRestrictionsOnParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="costToPark">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="midBlockCurbPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unEvenPavementPresent">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="SegmentAttributeXYList">
      <xsd:choice minOccurs="1" maxOccurs="8">
         <xsd:element name="reserved">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doNotBlock">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="whiteLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergingLaneLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergingLaneRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="loadingzoneOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="loadingzoneOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="turnOutPointOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="turnOutPointOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentParkingOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentParkingOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentBikeLaneOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentBikeLaneOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sharedBikeLane">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="bikeBoxInFront">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopInLane">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sharedWithTrackedVehicle">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safeIsland">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lowCurbsPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rumbleStripPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="audibleSignalingPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adaptiveTimingPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rfSignalRequestPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="partialCurbIntrusion">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToCenterLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parallelParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="headInParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="freeParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="timeRestrictionsOnParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="costToPark">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="midBlockCurbPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unEvenPavementPresent">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="DeltaAngle">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-150"/>
         <xsd:maxInclusive value="150"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="RoadwayCrownAngle">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:simpleType name="MergeDivergeNodeAngle">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-180"/>
         <xsd:maxInclusive value="180"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="LaneDataAttribute">
      <xsd:choice>
         <xsd:element name="pathEndPointAngle" type="DeltaAngle"/>
         <xsd:element name="laneCrownPointCenter" type="RoadwayCrownAngle"/>
         <xsd:element name="laneCrownPointLeft" type="RoadwayCrownAngle"/>
         <xsd:element name="laneCrownPointRight" type="RoadwayCrownAngle"/>
         <xsd:element name="laneAngle" type="MergeDivergeNodeAngle"/>
         <xsd:element name="speedLimits" type="SpeedLimitList"/>
         <xsd:element name="regional" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="LaneDataAttributeList">
      <xsd:choice minOccurs="1" maxOccurs="8">
         <xsd:element name="pathEndPointAngle" type="DeltaAngle"/>
         <xsd:element name="laneCrownPointCenter" type="RoadwayCrownAngle"/>
         <xsd:element name="laneCrownPointLeft" type="RoadwayCrownAngle"/>
         <xsd:element name="laneCrownPointRight" type="RoadwayCrownAngle"/>
         <xsd:element name="laneAngle" type="MergeDivergeNodeAngle"/>
         <xsd:element name="speedLimits" type="SpeedLimitList"/>
         <xsd:element name="regional" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="NodeAttributeSetXY">
      <xsd:sequence>
         <xsd:element name="localNode" minOccurs="0" type="NodeAttributeXYList"/>
         <xsd:element name="disabled" minOccurs="0" type="SegmentAttributeXYList"/>
         <xsd:element name="enabled" minOccurs="0" type="SegmentAttributeXYList"/>
         <xsd:element name="data" minOccurs="0" type="LaneDataAttributeList"/>
         <xsd:element name="dWidth" minOccurs="0" type="Offset-B10"/>
         <xsd:element name="dElevation" minOccurs="0" type="Offset-B10"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NodeXY">
      <xsd:sequence>
         <xsd:element name="delta" type="NodeOffsetPointXY"/>
         <xsd:element name="attributes" minOccurs="0" type="NodeAttributeSetXY"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NodeSetXY">
      <xsd:sequence minOccurs="2" maxOccurs="63">
         <xsd:element name="NodeXY" type="NodeXY"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="DrivenLineOffsetSm">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-2047"/>
         <xsd:maxInclusive value="2047"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="DrivenLineOffsetLg">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-32767"/>
         <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Angle">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="28800"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Scale-B12">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-2048"/>
         <xsd:maxInclusive value="2047"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="ComputedLane">
      <xsd:sequence>
         <xsd:element name="referenceLaneId" type="LaneID"/>
         <xsd:element name="offsetXaxis" >
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="small" type="DrivenLineOffsetSm"/>
                  <xsd:element name="large" type="DrivenLineOffsetLg"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="offsetYaxis" >
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="small" type="DrivenLineOffsetSm"/>
                  <xsd:element name="large" type="DrivenLineOffsetLg"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="rotateXY" minOccurs="0" type="Angle"/>
         <xsd:element name="scaleXaxis" minOccurs="0" type="Scale-B12"/>
         <xsd:element name="scaleYaxis" minOccurs="0" type="Scale-B12"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="NodeListXY">
      <xsd:choice>
         <xsd:element name="nodes" type="NodeSetXY"/>
         <xsd:element name="computed" type="ComputedLane"/>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ConnectingLane">
      <xsd:sequence>
         <xsd:element name="lane" type="LaneID"/>
         <xsd:element name="maneuver" minOccurs="0" type="AllowedManeuvers"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Connection">
      <xsd:sequence>
         <xsd:element name="connectingLane" type="ConnectingLane"/>
         <xsd:element name="remoteIntersection" minOccurs="0" type="IntersectionReferenceID"/>
         <xsd:element name="signalGroup" minOccurs="0" type="SignalGroupID"/>
         <xsd:element name="userClass" minOccurs="0" type="RestrictionClassID"/>
         <xsd:element name="connectionID" minOccurs="0" type="LaneConnectionID"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ConnectsToList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="Connection" type="Connection"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="OverlayLaneList">
      <xsd:sequence minOccurs="1" maxOccurs="5">
         <xsd:element name="LaneID" type="LaneID"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="GenericLane">
      <xsd:sequence>
         <xsd:element name="laneID" type="LaneID"/>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="ingressApproach" minOccurs="0" type="ApproachID"/>
         <xsd:element name="egressApproach" minOccurs="0" type="ApproachID"/>
         <xsd:element name="laneAttributes" type="LaneAttributes"/>
         <xsd:element name="maneuvers" minOccurs="0" type="AllowedManeuvers"/>
         <xsd:element name="nodeList" type="NodeListXY"/>
         <xsd:element name="connectsTo" minOccurs="0" type="ConnectsToList"/>
         <xsd:element name="overlays" minOccurs="0" type="OverlayLaneList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LaneList">
      <xsd:sequence minOccurs="1" maxOccurs="255">
         <xsd:element name="GenericLane" type="GenericLane"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalControlZone">
      <xsd:sequence>
         <xsd:element name="zone" type="RegionalExtension"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PreemptPriorityList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="SignalControlZone" type="SignalControlZone"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="IntersectionGeometry">
      <xsd:sequence>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="id" type="IntersectionReferenceID"/>
         <xsd:element name="revision" type="MsgCount"/>
         <xsd:element name="refPoint" type="Position3D"/>
         <xsd:element name="laneWidth" minOccurs="0" type="LaneWidth"/>
         <xsd:element name="speedLimits" minOccurs="0" type="SpeedLimitList"/>
         <xsd:element name="laneSet" type="LaneList"/>
         <xsd:element name="preemptPriorityData" minOccurs="0" type="PreemptPriorityList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="IntersectionGeometryList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="IntersectionGeometry" type="IntersectionGeometry"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="RoadSegmentID">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="RoadSegmentReferenceID">
      <xsd:sequence>
         <xsd:element name="region" minOccurs="0" type="RoadRegulatorID"/>
         <xsd:element name="id" type="RoadSegmentID"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RoadLaneSetList">
      <xsd:sequence minOccurs="1" maxOccurs="255">
         <xsd:element name="GenericLane" type="GenericLane"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RoadSegment">
      <xsd:sequence>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="id" type="RoadSegmentReferenceID"/>
         <xsd:element name="revision" type="MsgCount"/>
         <xsd:element name="refPoint" type="Position3D"/>
         <xsd:element name="laneWidth" minOccurs="0" type="LaneWidth"/>
         <xsd:element name="speedLimits" minOccurs="0" type="SpeedLimitList"/>
         <xsd:element name="roadLaneSet" type="RoadLaneSetList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RoadSegmentList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="RoadSegment" type="RoadSegment"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DataParameters">
      <xsd:sequence>
         <xsd:element name="processMethod" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="processAgency" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="lastCheckedDate" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="geoidUsed" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RestrictionAppliesTo">
      <xsd:choice>
         <xsd:element name="none">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="equippedTransit">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="equippedTaxis">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="equippedOther">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="emissionCompliant">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="equippedBicycle">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="weightCompliant">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="heightCompliant">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pedestrians">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="slowMovingPersons">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="wheelchairUsers">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="visualDisabilities">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="audioDisabilities">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="otherUnknownDisabilities">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RestrictionUserType">
      <xsd:choice>
         <xsd:element name="basicType" type="RestrictionAppliesTo"/>
         <xsd:element name="regional" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RestrictionUserTypeList">
      <xsd:choice minOccurs="1" maxOccurs="16">
         <xsd:element name="basicType" type="RestrictionAppliesTo"/>
         <xsd:element name="regional" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RestrictionClassAssignment">
      <xsd:sequence>
         <xsd:element name="id" type="RestrictionClassID"/>
         <xsd:element name="users" type="RestrictionUserTypeList"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RestrictionClassList">
      <xsd:sequence minOccurs="1" maxOccurs="254">
         <xsd:element name="RestrictionClassAssignment" type="RestrictionClassAssignment"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MapData">
      <xsd:sequence>
         <xsd:element name="timeStamp" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="msgIssueRevision" type="MsgCount"/>
         <xsd:element name="layerType" minOccurs="0" type="LayerType"/>
         <xsd:element name="layerID" minOccurs="0" type="LayerID"/>
         <xsd:element name="intersections" minOccurs="0" type="IntersectionGeometryList"/>
         <xsd:element name="roadSegments" minOccurs="0" type="RoadSegmentList"/>
         <xsd:element name="dataParameters" minOccurs="0" type="DataParameters"/>
         <xsd:element name="restrictionList" minOccurs="0" type="RestrictionClassList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="RequestID">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="PriorityRequestType">
      <xsd:choice>
         <xsd:element name="priorityRequestTypeReserved">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="priorityRequest">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="priorityRequestUpdate">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="priorityCancellation">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="IntersectionAccessPoint">
      <xsd:choice>
         <xsd:element name="lane" type="LaneID"/>
         <xsd:element name="approach" type="ApproachID"/>
         <xsd:element name="connection" type="LaneConnectionID"/>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="SignalRequest">
      <xsd:sequence>
         <xsd:element name="id" type="IntersectionReferenceID"/>
         <xsd:element name="requestID" type="RequestID"/>
         <xsd:element name="requestType" type="PriorityRequestType"/>
         <xsd:element name="inBoundLane" type="IntersectionAccessPoint"/>
         <xsd:element name="outBoundLane" minOccurs="0" type="IntersectionAccessPoint"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalRequestPackage">
      <xsd:sequence>
         <xsd:element name="request" type="SignalRequest"/>
         <xsd:element name="minute" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="second" minOccurs="0" type="DSecond"/>
         <xsd:element name="duration" minOccurs="0" type="DSecond"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalRequestList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="SignalRequestPackage" type="SignalRequestPackage"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="TemporaryID">
      <xsd:restriction base="xsd:hexBinary">
         <xsd:length value="4"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="VehicleID">
      <xsd:choice>
         <xsd:element name="entityID" type="TemporaryID"/>
         <xsd:element name="stationID" type="ITS-Container:StationID"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="BasicVehicleRole">
      <xsd:choice>
         <xsd:element name="basicVehicle">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="publicTransport">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="specialTransport">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dangerousGoods">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roadWork">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roadRescue">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="emergency">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safetyCar">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="none-unknown">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="truck">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="motorcycle">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roadSideSource">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="police">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fire">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="ambulance">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dot">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transit">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="slowMoving">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stopNgo">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="cyclist">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pedestrian">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="nonMotorized">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="military">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RequestSubRole">
      <xsd:choice>
         <xsd:element name="requestSubRoleUnKnown">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole3">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole4">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole5">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole6">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole7">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole8">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole9">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole10">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole11">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole12">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole13">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRole14">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestSubRoleReserved">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RequestImportanceLevel">
      <xsd:choice>
         <xsd:element name="requestImportanceLevelUnKnown">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel3">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel4">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel5">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel6">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel7">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel8">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel9">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel10">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel11">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel12">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel13">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceLevel14">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestImportanceReserved">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="VehicleType">
      <xsd:choice>
         <xsd:element name="none">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unknown">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="special">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="moto">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="car">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="carOther">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="bus">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="axleCnt2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="axleCnt3">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="axleCnt4">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="axleCnt4Trailer">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="axleCnt5Trailer">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="axleCnt6Trailer">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="axleCnt5MultiTrailer">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="axleCnt6MultiTrailer">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="axleCnt7MultiTrailer">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RequestorType">
      <xsd:sequence>
         <xsd:element name="role" type="BasicVehicleRole"/>
         <xsd:element name="subrole" minOccurs="0" type="RequestSubRole"/>
         <xsd:element name="request" minOccurs="0" type="RequestImportanceLevel"/>
         <xsd:element name="iso3883" minOccurs="0" type="ElectronicRegistrationIdentificationVehicleDataModule:Iso3833VehicleType"/>
         <xsd:element name="hpmsType" minOccurs="0" type="VehicleType"/>
         <xsd:element name="regional" minOccurs="0" type="RegionalExtension"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TransmissionState">
      <xsd:choice>
         <xsd:element name="neutral">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="park">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="forwardGears">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reverseGears">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reserved1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reserved2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reserved3">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="TransmissionAndSpeed">
      <xsd:sequence>
         <xsd:element name="transmisson" type="TransmissionState"/>
         <xsd:element name="speed" type="Velocity"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RequestorPositionVector">
      <xsd:sequence>
         <xsd:element name="position" type="Position3D"/>
         <xsd:element name="heading" minOccurs="0" type="Angle"/>
         <xsd:element name="speed" minOccurs="0" type="TransmissionAndSpeed"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TransitVehicleStatus" mixed="true">
      <xsd:sequence>
         <xsd:element name="loading" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="anADAuse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="aBikeLoad" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doorOpen" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="charging" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="atStopLine" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TransitVehicleOccupancy">
      <xsd:choice>
         <xsd:element name="occupancyUnknown">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="occupancyEmpty">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="occupancyVeryLow">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="occupancyLow">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="occupancyMed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="occupancyHigh">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="occupancyNearlyFull">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="occupancyFull">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="DeltaTime">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-122"/>
         <xsd:maxInclusive value="121"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="RequestorDescription">
      <xsd:sequence>
         <xsd:element name="id" type="VehicleID"/>
         <xsd:element name="type" minOccurs="0" type="RequestorType"/>
         <xsd:element name="position" minOccurs="0" type="RequestorPositionVector"/>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="routeName" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="transitStatus" minOccurs="0" type="TransitVehicleStatus"/>
         <xsd:element name="transitOccupancy" minOccurs="0" type="TransitVehicleOccupancy"/>
         <xsd:element name="transitSchedule" minOccurs="0" type="DeltaTime"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalRequestMessage">
      <xsd:sequence>
         <xsd:element name="timeStamp" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="second" type="DSecond"/>
         <xsd:element name="sequenceNumber" minOccurs="0" type="MsgCount"/>
         <xsd:element name="requests" minOccurs="0" type="SignalRequestList"/>
         <xsd:element name="requestor" type="RequestorDescription"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalRequesterInfo">
      <xsd:sequence>
         <xsd:element name="id" type="VehicleID"/>
         <xsd:element name="request" type="RequestID"/>
         <xsd:element name="sequenceNumber" type="MsgCount"/>
         <xsd:element name="role" minOccurs="0" type="BasicVehicleRole"/>
         <xsd:element name="typeData" minOccurs="0" type="RequestorType"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PrioritizationResponseStatus">
      <xsd:choice>
         <xsd:element name="unknown">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requested">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="processing">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="watchOtherTraffic">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="granted">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rejected">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maxPresence">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reserviceLocked">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="SignalStatusPackage">
      <xsd:sequence>
         <xsd:element name="requester" minOccurs="0" type="SignalRequesterInfo"/>
         <xsd:element name="inboundOn" type="IntersectionAccessPoint"/>
         <xsd:element name="outboundOn" minOccurs="0" type="IntersectionAccessPoint"/>
         <xsd:element name="minute" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="second" minOccurs="0" type="DSecond"/>
         <xsd:element name="duration" minOccurs="0" type="DSecond"/>
         <xsd:element name="status" type="PrioritizationResponseStatus"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalStatusPackageList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="SignalStatusPackage" type="SignalStatusPackage"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalStatus">
      <xsd:sequence>
         <xsd:element name="sequenceNumber" type="MsgCount"/>
         <xsd:element name="id" type="IntersectionReferenceID"/>
         <xsd:element name="sigStatus" type="SignalStatusPackageList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalStatusList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="SignalStatus" type="SignalStatus"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SignalStatusMessage">
      <xsd:sequence>
         <xsd:element name="timeStamp" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="second" type="DSecond"/>
         <xsd:element name="sequenceNumber" minOccurs="0" type="MsgCount"/>
         <xsd:element name="status" type="SignalStatusList"/>
         <xsd:element name="regional" minOccurs="0" >
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="4">
                  <xsd:element name="RegionalExtension" type="RegionalExtension"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="DSRCmsgID">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>