src/test/resources/xsd/complex/ElectronicRegistrationIdentificationVehicleDataModule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 7.1.0, Date: 15-Feb-2017. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/ElectronicRegistrationIdentificationVehicleDataModule"
            targetNamespace="http://www.obj-sys.com/ElectronicRegistrationIdentificationVehicleDataModule"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <xsd:complexType name="EuVehicleCategoryL">
      <xsd:choice>
         <xsd:element name="l1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="l2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="l3">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="l4">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="l5">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="l6">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="l7">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="EuVehicleCategoryM">
      <xsd:choice>
         <xsd:element name="m1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="m2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="m3">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="EuVehicleCategoryN">
      <xsd:choice>
         <xsd:element name="n1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="n2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="n3">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="EuVehicleCategoryO">
      <xsd:choice>
         <xsd:element name="o1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="o2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="o3">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="o4">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="EuVehicleCategoryCode">
      <xsd:choice>
         <xsd:element name="euVehicleCategoryL" type="EuVehicleCategoryL"/>
         <xsd:element name="euVehicleCategoryM" type="EuVehicleCategoryM"/>
         <xsd:element name="euVehicleCategoryN" type="EuVehicleCategoryN"/>
         <xsd:element name="euVehicleCategoryO" type="EuVehicleCategoryO"/>
         <xsd:element name="euVehilcleCategoryT" type="asn1:NULL"/>
         <xsd:element name="euVehilcleCategoryG" type="asn1:NULL"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="Iso3833VehicleType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

</xsd:schema>