src/test/resources/xsd/complex/ITS-Container.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 7.1.0, Date: 15-Feb-2017. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/ITS-Container"
            targetNamespace="http://www.obj-sys.com/ITS-Container"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="TrafficConditionSubCauseCode" type="TrafficConditionSubCauseCodeType"/>
   <xsd:simpleType name="TrafficConditionSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="AccidentSubCauseCode" type="AccidentSubCauseCodeType"/>
   <xsd:simpleType name="AccidentSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="HumanPresenceOnTheRoadSubCauseCode" type="HumanPresenceOnTheRoadSubCauseCodeType"/>
   <xsd:simpleType name="HumanPresenceOnTheRoadSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="WrongWayDrivingSubCauseCode" type="WrongWayDrivingSubCauseCodeType"/>
   <xsd:simpleType name="WrongWayDrivingSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="AdverseWeatherCondition-ExtremeWeatherConditionSubCauseCode" type="AdverseWeatherCondition-ExtremeWeatherConditionSubCauseCodeType"/>
   <xsd:simpleType name="AdverseWeatherCondition-ExtremeWeatherConditionSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="AdverseWeatherCondition-AdhesionSubCauseCode" type="AdverseWeatherCondition-AdhesionSubCauseCodeType"/>
   <xsd:simpleType name="AdverseWeatherCondition-AdhesionSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="AdverseWeatherCondition-VisibilitySubCauseCode" type="AdverseWeatherCondition-VisibilitySubCauseCodeType"/>
   <xsd:simpleType name="AdverseWeatherCondition-VisibilitySubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="AdverseWeatherCondition-PrecipitationSubCauseCode" type="AdverseWeatherCondition-PrecipitationSubCauseCodeType"/>
   <xsd:simpleType name="AdverseWeatherCondition-PrecipitationSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="SlowVehicleSubCauseCode" type="SlowVehicleSubCauseCodeType"/>
   <xsd:simpleType name="SlowVehicleSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="StationaryVehicleSubCauseCode" type="StationaryVehicleSubCauseCodeType"/>
   <xsd:simpleType name="StationaryVehicleSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="HumanProblemSubCauseCode" type="HumanProblemSubCauseCodeType"/>
   <xsd:simpleType name="HumanProblemSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="EmergencyVehicleApproachingSubCauseCode" type="EmergencyVehicleApproachingSubCauseCodeType"/>
   <xsd:simpleType name="EmergencyVehicleApproachingSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="HazardousLocation-DangerousCurveSubCauseCode" type="HazardousLocation-DangerousCurveSubCauseCodeType"/>
   <xsd:simpleType name="HazardousLocation-DangerousCurveSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="HazardousLocation-SurfaceConditionSubCauseCode" type="HazardousLocation-SurfaceConditionSubCauseCodeType"/>
   <xsd:simpleType name="HazardousLocation-SurfaceConditionSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="HazardousLocation-ObstacleOnTheRoadSubCauseCode" type="HazardousLocation-ObstacleOnTheRoadSubCauseCodeType"/>
   <xsd:simpleType name="HazardousLocation-ObstacleOnTheRoadSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="HazardousLocation-AnimalOnTheRoadSubCauseCode" type="HazardousLocation-AnimalOnTheRoadSubCauseCodeType"/>
   <xsd:simpleType name="HazardousLocation-AnimalOnTheRoadSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="CollisionRiskSubCauseCode" type="CollisionRiskSubCauseCodeType"/>
   <xsd:simpleType name="CollisionRiskSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="SignalViolationSubCauseCode" type="SignalViolationSubCauseCodeType"/>
   <xsd:simpleType name="SignalViolationSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="RescueAndRecoveryWorkInProgressSubCauseCode" type="RescueAndRecoveryWorkInProgressSubCauseCodeType"/>
   <xsd:simpleType name="RescueAndRecoveryWorkInProgressSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="DangerousEndOfQueueSubCauseCode" type="DangerousEndOfQueueSubCauseCodeType"/>
   <xsd:simpleType name="DangerousEndOfQueueSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="DangerousSituationSubCauseCode" type="DangerousSituationSubCauseCodeType"/>
   <xsd:simpleType name="DangerousSituationSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="VehicleBreakdownSubCauseCode" type="VehicleBreakdownSubCauseCodeType"/>
   <xsd:simpleType name="VehicleBreakdownSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="PostCrashSubCauseCode" type="PostCrashSubCauseCodeType"/>
   <xsd:simpleType name="PostCrashSubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:simpleType name="StationID">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="ItsPduHeader">
      <xsd:sequence>
         <xsd:element name="protocolVersion" >
            <xsd:complexType mixed="true">
               <xsd:sequence>
                  <xsd:element name="currentVersion" minOccurs="0">
                     <xsd:complexType/>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="messageID" >
            <xsd:complexType mixed="true">
               <xsd:sequence>
                  <xsd:element name="denm" minOccurs="0">
                     <xsd:complexType/>
                  </xsd:element>
                  <xsd:element name="cam" minOccurs="0">
                     <xsd:complexType/>
                  </xsd:element>
                  <xsd:element name="poi" minOccurs="0">
                     <xsd:complexType/>
                  </xsd:element>
                  <xsd:element name="spatem" minOccurs="0">
                     <xsd:complexType/>
                  </xsd:element>
                  <xsd:element name="mapem" minOccurs="0">
                     <xsd:complexType/>
                  </xsd:element>
                  <xsd:element name="ivi" minOccurs="0">
                     <xsd:complexType/>
                  </xsd:element>
                  <xsd:element name="ev-rsr" minOccurs="0">
                     <xsd:complexType/>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="stationID" type="StationID"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="SpeedConfidence">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Latitude">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-900000000"/>
         <xsd:maxInclusive value="900000001"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="Longitude">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-1800000000"/>
         <xsd:maxInclusive value="1800000001"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TimestampIts">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="4398046511103"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="SemiAxisLength">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="4095"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="HeadingValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="3601"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="PosConfidenceEllipse">
      <xsd:sequence>
         <xsd:element name="semiMajorConfidence" type="SemiAxisLength"/>
         <xsd:element name="semiMinorConfidence" type="SemiAxisLength"/>
         <xsd:element name="semiMajorOrientation" type="HeadingValue"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="AltitudeValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-100000"/>
         <xsd:maxInclusive value="800001"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="AltitudeConfidence">
      <xsd:choice>
         <xsd:element name="alt-000-01">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-000-02">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-000-05">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-000-10">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-000-20">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-000-50">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-001-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-002-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-005-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-010-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-020-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-050-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-100-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="alt-200-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="outOfRange">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Altitude">
      <xsd:sequence>
         <xsd:element name="altitudeValue" type="AltitudeValue"/>
         <xsd:element name="altitudeConfidence" type="AltitudeConfidence"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ReferencePosition">
      <xsd:sequence>
         <xsd:element name="latitude" type="Latitude"/>
         <xsd:element name="longitude" type="Longitude"/>
         <xsd:element name="positionConfidenceEllipse" type="PosConfidenceEllipse"/>
         <xsd:element name="altitude" type="Altitude"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="HeadingConfidence">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="Heading">
      <xsd:sequence>
         <xsd:element name="headingValue" type="HeadingValue"/>
         <xsd:element name="headingConfidence" type="HeadingConfidence"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="SpeedValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="16383"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="Speed">
      <xsd:sequence>
         <xsd:element name="speedValue" type="SpeedValue"/>
         <xsd:element name="speedConfidence" type="SpeedConfidence"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="LanePosition">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-1"/>
         <xsd:maxInclusive value="14"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="DeltaLatitude">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-131071"/>
         <xsd:maxInclusive value="131072"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="DeltaLongitude">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-131071"/>
         <xsd:maxInclusive value="131072"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="DeltaAltitude">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-12700"/>
         <xsd:maxInclusive value="12800"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="DeltaReferencePosition">
      <xsd:sequence>
         <xsd:element name="deltaLatitude" type="DeltaLatitude"/>
         <xsd:element name="deltaLongitude" type="DeltaLongitude"/>
         <xsd:element name="deltaAltitude" type="DeltaAltitude"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="StationType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="DangerousGoodsBasic">
      <xsd:choice>
         <xsd:element name="explosives1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="explosives2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="explosives3">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="explosives4">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="explosives5">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="explosives6">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="flammableGases">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="nonFlammableGases">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="toxicGases">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="flammableLiquids">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="flammableSolids">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="substancesLiableToSpontaneousCombustion">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="substancesEmittingFlammableGasesUponContactWithWater">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="oxidizingSubstances">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="organicPeroxides">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="toxicSubstances">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="infectiousSubstances">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="radioactiveMaterial">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="corrosiveSubstances">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="miscellaneousDangerousSubstances">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="SpecialTransportType" mixed="true">
      <xsd:sequence>
         <xsd:element name="heavyLoad" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="excessWidth" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="excessLength" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="excessHeight" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="VehicleRole">
      <xsd:choice>
         <xsd:element name="default">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="publicTransport">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="specialTransport">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dangerousGoods">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roadWork">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rescue">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="emergency">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safetyCar">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="agriculture">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="commercial">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="military">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roadOperator">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taxi">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reserved1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reserved2">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reserved3">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RoadType">
      <xsd:choice>
         <xsd:element name="urban-NoStructuralSeparationToOppositeLanes">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="urban-WithStructuralSeparationToOppositeLanes">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="nonUrban-NoStructuralSeparationToOppositeLanes">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="nonUrban-WithStructuralSeparationToOppositeLanes">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="DriveDirection">
      <xsd:choice>
         <xsd:element name="forward">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="backward">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="VehicleLengthValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="1023"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="VehicleLengthConfidenceIndication">
      <xsd:choice>
         <xsd:element name="noTrailerPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trailerPresentWithKnownLength">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trailerPresentWithUnknownLength">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trailerPresenceIsUnknown">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="VehicleLength">
      <xsd:sequence>
         <xsd:element name="vehicleLengthValue" type="VehicleLengthValue"/>
         <xsd:element name="vehicleLengthConfidenceIndication" type="VehicleLengthConfidenceIndication"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="VehicleWidth">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="62"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="LongitudinalAccelerationValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-160"/>
         <xsd:maxInclusive value="161"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="AccelerationConfidence">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="102"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="LongitudinalAcceleration">
      <xsd:sequence>
         <xsd:element name="longitudinalAccelerationValue" type="LongitudinalAccelerationValue"/>
         <xsd:element name="longitudinalAccelerationConfidence" type="AccelerationConfidence"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="CurvatureValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-30000"/>
         <xsd:maxInclusive value="30001"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="CurvatureConfidence">
      <xsd:choice>
         <xsd:element name="onePerMeter-0-00002">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="onePerMeter-0-0001">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="onePerMeter-0-0005">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="onePerMeter-0-002">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="onePerMeter-0-01">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="onePerMeter-0-1">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="outOfRange">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="Curvature">
      <xsd:sequence>
         <xsd:element name="curvatureValue" type="CurvatureValue"/>
         <xsd:element name="curvatureConfidence" type="CurvatureConfidence"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CurvatureCalculationMode">
      <xsd:choice>
         <xsd:element name="yawRateUsed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="yawRateNotUsed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="YawRateValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-32766"/>
         <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="YawRateConfidence">
      <xsd:choice>
         <xsd:element name="degSec-000-01">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="degSec-000-05">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="degSec-000-10">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="degSec-001-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="degSec-005-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="degSec-010-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="degSec-100-00">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="outOfRange">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="YawRate">
      <xsd:sequence>
         <xsd:element name="yawRateValue" type="YawRateValue"/>
         <xsd:element name="yawRateConfidence" type="YawRateConfidence"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AccelerationControl" mixed="true">
      <xsd:sequence>
         <xsd:element name="brakePedalEngaged" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="gasPedalEngaged" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="emergencyBrakeEngaged" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="collisionWarningEngaged" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="accEngaged" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="cruiseControlEngaged" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="speedLimiterEngaged" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="SteeringWheelAngleValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-511"/>
         <xsd:maxInclusive value="512"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="SteeringWheelAngleConfidence">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="SteeringWheelAngle">
      <xsd:sequence>
         <xsd:element name="steeringWheelAngleValue" type="SteeringWheelAngleValue"/>
         <xsd:element name="steeringWheelAngleConfidence" type="SteeringWheelAngleConfidence"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="LateralAccelerationValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-160"/>
         <xsd:maxInclusive value="161"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="LateralAcceleration">
      <xsd:sequence>
         <xsd:element name="lateralAccelerationValue" type="LateralAccelerationValue"/>
         <xsd:element name="lateralAccelerationConfidence" type="AccelerationConfidence"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="VerticalAccelerationValue">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-160"/>
         <xsd:maxInclusive value="161"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="VerticalAcceleration">
      <xsd:sequence>
         <xsd:element name="verticalAccelerationValue" type="VerticalAccelerationValue"/>
         <xsd:element name="verticalAccelerationConfidence" type="AccelerationConfidence"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="PerformanceClass">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="7"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="ProtectedZoneID">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="134217727"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="CenDsrcTollingZoneID">
      <xsd:restriction base="ProtectedZoneID"/>
   </xsd:simpleType>

   <xsd:complexType name="CenDsrcTollingZone">
      <xsd:sequence>
         <xsd:element name="protectedZoneLatitude" type="Latitude"/>
         <xsd:element name="protectedZoneLongitude" type="Longitude"/>
         <xsd:element name="cenDsrcTollingZoneID" minOccurs="0" type="CenDsrcTollingZoneID"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ProtectedZoneType">
      <xsd:choice>
         <xsd:element name="cenDsrcTolling">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="ProtectedZoneRadius">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="255"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="ProtectedCommunicationZone">
      <xsd:sequence>
         <xsd:element name="protectedZoneType" type="ProtectedZoneType"/>
         <xsd:element name="expiryTime" minOccurs="0" type="TimestampIts"/>
         <xsd:element name="protectedZoneLatitude" type="Latitude"/>
         <xsd:element name="protectedZoneLongitude" type="Longitude"/>
         <xsd:element name="protectedZoneRadius" minOccurs="0" type="ProtectedZoneRadius"/>
         <xsd:element name="protectedZoneID" minOccurs="0" type="ProtectedZoneID"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ProtectedCommunicationZonesRSU">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="ProtectedCommunicationZone" type="ProtectedCommunicationZone"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ExteriorLights" mixed="true">
      <xsd:sequence>
         <xsd:element name="lowBeamHeadlightsOn" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="highBeamHeadlightsOn" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="leftTurnSignalOn" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rightTurnSignalOn" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="daytimeRunningLightsOn" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="reverseLightOn" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fogLightOn" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parkingLightsOn" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="PathDeltaTime">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="65535"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="PathPoint">
      <xsd:sequence>
         <xsd:element name="pathPosition" type="DeltaReferencePosition"/>
         <xsd:element name="pathDeltaTime" minOccurs="0" type="PathDeltaTime"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PathHistory">
      <xsd:sequence minOccurs="0" maxOccurs="40">
         <xsd:element name="PathPoint" type="PathPoint"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EmbarkationStatus">
      <xsd:group ref="asn1:BooleanGroup"/>
   </xsd:complexType>

   <xsd:simpleType name="PtActivationType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:simpleType name="PtActivationData">
      <xsd:restriction base="xsd:hexBinary">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="PtActivation">
      <xsd:sequence>
         <xsd:element name="ptActivationType" type="PtActivationType"/>
         <xsd:element name="ptActivationData" type="PtActivationData"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LightBarSirenInUse" mixed="true">
      <xsd:sequence>
         <xsd:element name="lightBarActivated" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sirenActivated" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="RoadworksSubCauseCode">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="HardShoulderStatus">
      <xsd:choice>
         <xsd:element name="availableForStopping">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="closed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="availableForDriving">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="DrivingLaneStatus">
      <xsd:restriction base="asn1:BitString">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="14"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="ClosedLanes">
      <xsd:sequence>
         <xsd:element name="hardShoulderStatus" minOccurs="0" type="HardShoulderStatus"/>
         <xsd:element name="drivingLaneStatus" type="DrivingLaneStatus"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="CauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:simpleType name="SubCauseCodeType">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="CauseCode">
      <xsd:sequence>
         <xsd:element name="causeCode" type="CauseCodeType"/>
         <xsd:element name="subCauseCode" type="SubCauseCodeType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EmergencyPriority" mixed="true">
      <xsd:sequence>
         <xsd:element name="requestForRightOfWay" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="requestForFreeCrossingAtATrafficLight" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TrafficRule">
      <xsd:choice>
         <xsd:element name="noPassing">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="noPassingForTrucks">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="passToRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="passToLeft">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="SpeedLimit">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="255"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="SequenceNumber">
      <xsd:restriction base="xsd:long"/>
   </xsd:simpleType>

   <xsd:complexType name="ActionID">
      <xsd:sequence>
         <xsd:element name="originatingStationID" type="StationID"/>
         <xsd:element name="sequenceNumber" type="SequenceNumber"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RelevanceDistance">
      <xsd:choice>
         <xsd:element name="lessThan50m">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lessThan100m">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lessThan200m">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lessThan500m">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lessThan1000m">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lessThan5km">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lessThan10km">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="over10km">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="RelevanceTrafficDirection">
      <xsd:choice>
         <xsd:element name="allTrafficDirections">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="upstreamTraffic">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="downstreamTraffic">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="oppositeTraffic">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="ValidityDuration">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="86400"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TransmissionInterval">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="10000"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="InformationQuality">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="7"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="EventPoint">
      <xsd:sequence>
         <xsd:element name="eventPosition" type="DeltaReferencePosition"/>
         <xsd:element name="eventDeltaTime" minOccurs="0" type="PathDeltaTime"/>
         <xsd:element name="informationQuality" type="InformationQuality"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EventHistory">
      <xsd:sequence minOccurs="1" maxOccurs="23">
         <xsd:element name="EventPoint" type="EventPoint"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Traces">
      <xsd:sequence minOccurs="1" maxOccurs="7">
         <xsd:element name="PathHistory" type="PathHistory"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="HeightLonCarr">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="100"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="PosLonCarr">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="PosPillar">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="30"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="PositionOfPillars">
      <xsd:sequence minOccurs="1" maxOccurs="3">
         <xsd:element name="PosPillar" type="PosPillar"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="PosCentMass">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="63"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="WheelBaseVehicle">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="TurningRadius">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="255"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="PosFrontAx">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="20"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="PositionOfOccupants" mixed="true">
      <xsd:sequence>
         <xsd:element name="row1LeftOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row1RightOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row1MidOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row1NotDetectable" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row1NotPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row2LeftOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row2RightOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row2MidOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row2NotDetectable" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row2NotPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row3LeftOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row3RightOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row3MidOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row3NotDetectable" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row3NotPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row4LeftOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row4RightOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row4MidOccupied" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row4NotDetectable" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="row4NotPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="VehicleMass">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="1"/>
         <xsd:maxInclusive value="1024"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="RequestResponseIndication">
      <xsd:choice>
         <xsd:element name="request">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="response">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:simpleType name="Temperature">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="-60"/>
         <xsd:maxInclusive value="67"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="RestrictedTypes">
      <xsd:sequence minOccurs="1" maxOccurs="3">
         <xsd:element name="StationType" type="StationType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ItineraryPath">
      <xsd:sequence minOccurs="1" maxOccurs="40">
         <xsd:element name="ReferencePosition" type="ReferencePosition"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PositioningSolutionType">
      <xsd:choice>
         <xsd:element name="noPositioningSolution">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sGNSS">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dGNSS">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sGNSSplusDR">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dGNSSplusDR">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dR">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="StationarySince">
      <xsd:choice>
         <xsd:element name="lessThan1Minute">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lessThan2Minutes">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lessThan15Minutes">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="equalOrGreater15Minutes">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="DangerousGoodsExtended">
      <xsd:sequence>
         <xsd:element name="dangerousGoodsType" type="DangerousGoodsBasic"/>
         <xsd:element name="unNumber" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:long">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="9999"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="elevatedTemperature" type="asn1:BOOLEAN"/>
         <xsd:element name="tunnelsRestricted" type="asn1:BOOLEAN"/>
         <xsd:element name="limitedQuantity" type="asn1:BOOLEAN"/>
         <xsd:element name="emergencyActionCode" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="24"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="phoneNumber" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="24"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="companyName" minOccurs="0" >
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="24"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="NumberOfOccupants">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="WMInumber">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="VDS">
      <xsd:restriction base="xsd:string">
         <xsd:length value="6"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="VehicleIdentification">
      <xsd:sequence>
         <xsd:element name="wMInumber" minOccurs="0" type="WMInumber"/>
         <xsd:element name="vDS" minOccurs="0" type="VDS"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="EnergyStorageType" mixed="true">
      <xsd:sequence>
         <xsd:element name="hydrogenStorage" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="electricEnergyStorage" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="liquidPropaneGas" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="compressedNaturalGas" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="diesel" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="gasoline" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="ammonia" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>